body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  background-color: lightblue;
  border: 1px solid #333;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  flex-grow: 1;
  flex-basis: 150px;
}
